<p>Please comment with what you can bring - an appetizer, dessert, or drink </p>
<p id="notice"><%= notice %></p>

<h2>RSVPS</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Attending?</th>
      <th>Bringing/Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rsvps.each do |rsvp| %>
      <tr>
        <td><%= rsvp.name %></td>
        <td><%= rsvp.attending %></td>
        <td><%= rsvp.comments %></td>
        <td><%= link_to 'Show', rsvp %></td>
        <td><%= link_to 'Edit', edit_rsvp_path(rsvp) %></td>
        <td><%= link_to 'Destroy', rsvp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rsvp', new_rsvp_path %>
