<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rsvp.name %>
</p>

<p>
  <strong>Attending?:</strong>
  <%= @rsvp.attending %>
</p>

<p>
  <strong>Bringing/Comments:</strong>
  <%= @rsvp.comments %>
</p>

<%= link_to 'Edit', edit_rsvp_path(@rsvp) %> |
<%= link_to 'Back', rsvps_path %>
