<!DOCTYPE html>
<html>
  <head>
    <title>Llama's 2018 Halloween Party</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h2>Llama's 2018 Halloween Party<h2>
  <p><strong>Who:</strong>You and your SO<p>
  <p><strong>What:</strong>My Used-to-be-annual Halloween Party!<p>
  <p><strong>When:</strong>Saturday, November 3, 2018. 3:00-10:00pm<p>
  <p><strong>Where:</strong>Llama's Tiki Room<p>
  <p><strong>Costumes:</strong>Yes, please but optional!<p>
  <p><strong>Bring:</strong>An appetizer or dessert!<p>
    <%= yield %>
  </body>
</html>
