<!DOCTYPE html>
<html>
  <head>
    <title>Llama's 2018 Halloween Party</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h2>Llama's 2018 Halloween Party, November 3, 2018  3-10pm<h2>
  <hr>
  <%= yield %>
  </body>
</html>
