<!DOCTYPE html>
<html>
  <head>
    <title>Llama's 2018 Halloween Party</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h2>Llama's 2018 Halloween Party, November 3, 2018  3-10pm</h2>
  <hr>
  <ul>
        <li>Open house 3-6pm, party starts at 6.</li>
        <li>Costumes encouraged but not required.</li>
        <li>18 and over after 6pm. Prizes for best costumes!</li>
        <li>Photo Booth!</li>
        <li>This is a politics-free party, please leave it at the door, let's relax and have fun and be together!</li>
  </ul>

  <%= yield %>
  </body>
</html>
